/* Overall body structure */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p {
  margin-top: 15px;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.content-black {
  background: #383838;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #FFF;
}

.heading {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  height: 300px;
}

.heading-about {
  background-attachment: scroll;
  height: 400px;
}

.heading h2 {
  color: #fff;
  height: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-circle {
  border-radius: 50%;
  background: #FFF;
  height: 200px;
  width: 200px;
  margin: 30px auto;
  padding: 30px;
  overflow: hidden;
  border: 5px solid #6d6d6d;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

.logo-circle:hover {
  border: 5px solid #000;
}

.logo {
  height: 150px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  color: #807e7e;
}

/* Home Section */
.home h1 {
  font-size: 60px;
  font-weight: 600;
  margin-top: 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.home h2 {
  font-size: 40px;
  font-weight: 300;
}

.home {
  background-image: url('img/bg5.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.home .overlay {
  background-color: rgba(0,0,0,0.45);
  height: 100vh;
  padding: 70px 0;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .typed {
  color: #f33;
}

.buttons {
  margin-top: 30px;
}

.top-button {
  border: #f33 solid 2px;
  background-color: #f33;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.top-button:hover {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}

.intro {
  text-align: center;
  font-size: 20px;
}

.intro a {
  color: #f33;
}

.heading-icon {
  font-size: 60px;
}
